@inherits LayoutComponentBase
<div class="page">
    <main>
        <header>
            <h1 id="title">TALLER #2</h1>
            <h6>Hecho Por: Juan Esteban Granada, Jaime Lepeley, Andres Marroquin</h6>
        </header>
        <article class="articleComponents">
            @Body
            <!-- Pedidos  -->
            <!-- Facturas -->
        </article>
    </main>
</div>
