.page {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color:#006400;
    border-radius: 10px;
    height: 100%;
}

header {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#title {
    font-weight: bold;
}

#articleComponents{
    display: flex;
    flex-direction: row;
}
