# Archivos binarios y de compilación
bin/
obj/
*.user
*.suo
*.sln.docstates

# Archivos de depuración
*.pdb
*.mdb
*.log
*.vspscc

# Configuración local
.vs/
.vscode/
.idea/

# Archivos NuGet
*.nupkg
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

# Carpetas generadas
**/Debug/
**/Release/
