@page "/"
@using frontend_blazor.features.Pedidos.Pages
@using frontend_blazor.features.Facturacion.Pages

<section class="d-flex justify-content-around mt-4">
    <div class="col-5">
        <NuevoPedido />
    </div>
    <div class="col-5">
        <ListaFacturas />
    </div>
</section>