@page "/facturas"
<main>
    <header>
        <h2 id="title">LISTA DE FACTURAS</h2>
    </header>
    <section>
        <div>
            <p>Id Pedido:</p>
            <p>Costo:</p>
        </div>
    </section>
</main>